.out {
    width: 200px;
    height: 200px;
    border: 1px solid silver;
    position: relative;
}

.ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}

#canon {
    width: 5px;
    height: 15px;
    background-color: black;
    position: absolute;
}

body {
    margin-left: 10px;
}


.bullet {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: royalblue;
    position: absolute;
    top: 10px;
    left: 10px;
}

.explosion {
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
}
